<section class="hero-cta">
  {{> components/image
    img-src="assets/img/hero"
    img-extension="jpg"
    img-alt="Welcome to the world's first digital games marketplace."
    class="img-fluid"
  }}
  <div class="container-xl">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-lg-7">
        <h1>Welcome to the world's first digital games marketplace.</h1>
        <p>We've been connecting players from around the globe since 2013 and we are not stopping anytime soon.</p>
        <div class="cta">
          <a href="#" class="btn btn--primary mr-2">Join Us</a>
          <a href="#" class="btn btn--secondary">Find out more</a>
        </div>
      </div>
    </div>
  </div>
</section>