<section class="text-image text-image--left">
  {{> components/image
    img-src="assets/img/group-playing-game"
    img-extension="jpg"
    img-alt="Welcome to the world's first digital games marketplace."
    class="text-img"
  }}
  <div class="container-xl">
    <div class="row h-100 align-items-center justify-content-end">
      <div class="col-12 col-lg-5">
        <div class="text-card">
          <h2>So many ways to play!</h2>
          <p>We offer players access to 100,000+ unique digital products. Want the newest CSGO? How about MS Office for your next group presentation? Maybe a killer NFT for your friends' next birthday? We've got it all!</p>
          <a href="#" class="btn btn--primary">See our Business Area</a>
        </div>
      </div>
    </div>
  </div>
  {{> components/image
    img-src="assets/img/kinguin/blue-kinguin"
    img-extension="png"
    img-alt="Blue Kinguin"
    class="blue-kinguin"
  }}
</section>