<section class="video-block">
  <div class="container-xl">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        {{> components/image
          img-src="assets/img/video-block"
          img-extension="jpg"
          img-alt="Video Block"
          class="img-fluid"
        }}
      </div>
    </div>
  </div>
</section>