<div class="container">
  <div class="row">
    <div class="col-3">
      {{> components/image
          img-src="/assets/img/kinguin_logo_horizontal-white"
          img-extension=".png"
          img-alt="Kinguin Logo"
          class=""
          style="width: 200px"
      }}
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h3>Kinguin</h3>
          <ul>
            <li>
              <a rel="nofollow" href="https://kinguin.io/">
                <span>Why Kinguin?</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://business.kinguin.net/">
                <span>Kinguin for Business</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://kinguin.ly">
                <span>Kinguin Community</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://kinguin.io/career/">
                <span>Career in Kinguin</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/kinguin-up">
                <span>Kinguin UP! Affilate Program</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3>Help</h3>
          <ul>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/sell-on-kinguin">
                <span>Sell on Kinguin</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/integration/">
                <span>Kinguin API</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/digital-wholesale">
                <span>Digital Wholesale</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://kinguin.io/">
                <span>Krowns</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/app/dashboard/rc">
                <span>Customer Support</span>
              </a>
            </li>
            <li>
              <a rel="nofollow" href="https://support.kinguin.net/hc/en-us">
                <span>FAQ</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h3>User terms &amp; Privacy</h3>
          <ul>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/terms">Terms and Conditions</a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/cms/nft-terms">Terms and Conditions NFT</a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/privacy-policy-cookie-restriction-mode">Privacy Policy</a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/cms/nft-policy">Privacy Policy NFT</a>
            </li>
            <li>
              <a rel="nofollow" href="https://www.kinguin.net/transaction-services-agreement">Transaction Services Agreement</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="row social-icons">
        <div class="col-sm order-0 order-sm-1">
          <div style="margin-bottom:2rem;margin-top:0">
            <h3>Follow us</h3>
            <ul>
              <li>
                <a aria-label="Go to the Kinguin's facebook page" rel="nofollow" href="https://www.facebook.com/Kinguin.net/">
                  <i class="fa-brands fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a aria-label="Go to the Kinguin's twitter profile" rel="nofollow" href="https://twitter.com/KinguinNet">
                  <i class="fa-brands fa-twitter"></i>
                </a>
              </li>
              <li>
                <a aria-label="Go to the Kinguin's youtube channel" rel="nofollow" href="https://www.youtube.com/user/officialkinguin">
                  <i class="fa-brands fa-youtube"></i>
                </a>
              </li>
              <li>
                <a aria-label="Go to the Kinguin's instagram profile" rel="nofollow" href="https://instagram.com/kinguinofficial/">
                  <i class="fa-brands fa-instagram"></i>
                </a>
              </li>
              <li>
                <a aria-label="Go to the Kinguin's discord channel" rel="nofollow" href="https://discordapp.com/invite/C6QAkWR">
                  <i class="fa-brands fa-discord"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center mt-5 mb-3">
      © 2023 Kinguin.net <span>All Rights Reserved</span>
    </div>
    <div class="col-12 text-center">
      This site is protected by reCAPTCHA and the Google
      <a href="https://policies.google.com/privacy" rel="nofollow">Privacy Policy</a>, <a href="https://policies.google.com/terms" rel="nofollow">Terms of Service</a> and <a href="https://www.youtube.com/t/terms" rel="nofollow">YouTube's Terms of Service</a> apply.
    </div>
  </div>
</div>