<ul>
  <li>
    <a href="/">
      Home
    </a>
  </li>
  <li>
    <a href="/about-us.html">
      About Us
    </a>
  </li>
  <li>
    <a href="/exclaim">
      Exclaim
    </a>
  </li>
  <li>
    <a href="/echo/Hello">
      Echo: Hello
    </a>
  </li>
</ul>