{{#> layouts/main
    title="Test"
    description="Description"
    keywords="Keyword"
}}
  {{#*inline "page-content"}}
  <div>
    about us
    {{> includes/nav }}
  </div>
  {{/inline}}
{{/layouts/main}}